$primary-color: #000000;
$text-color: #ffffff;
$secondary-color: #9cee21;
$background-color: #343a40;

// @mixin name {
  
// }

*, html{
  margin: 0;
  padding: 0;
  color: $text-color;
}
h2,h6 {
  color: $primary-color !important;
}
.App {
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
  background-color: none;
  transition: all 0.3s;
}

Nav{
  text-decoration: none;
}
.router-view{
  width: 100vmin;
  margin-top: 80px;
}
.Navbar{
  position: fixed;
  top:0;
  width: 100vw;
  z-index:2;
  color: $text-color;
  // scroll-behavior: smooth;
  background: $background-color;
}
.NavBrand{
  padding: 10px;
  font-family: Arial;
  font-size: 2em;
  display: inline;
}
.NavBrand > span:hover, :focus {
  color: #9cee21;
}
.NavItem{
  padding: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen;
  font-size: 1.3em;
  text-decoration: none;
}
.NavItem:hover, :focus {
  color: #9cee21;
  background: #343a40;
  border-top: 2px solid $background-color;
}
a,Link{
  color: $text-color;
  text-decoration: none;
}
Link:hover, a:hover{
  color: $text-color;
  text-decoration: none;
}
.App-header {
  min-height: 10vh;
  padding:10px;
  color: $primary-color;
}

.container-hold{
  height: 100vh;
  width: 100vw;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  scroll-behavior: smooth;
  /* implement smooth-scroll here */
}
.container-hold {
  color: $primary-color;
  font-family: 'Segoe UI';
  font-size: 4rem;
  font-weight: 400;
}
.home{
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  background: transparent;
  position: relative;
  background-attachment: fixed;
} 
.home > h1 {
  padding-top: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen;
  font-size: 2.8rem;
  font-weight: 300;
  opacity: 0.7;
}

.back-home{
  display: flex;
  height: 100vh;
  width: 100vw;
  // background: linear-gradient(to top, #fde50e 10%, #ff1500 40%, #a6ff00 150%);
  background: url('./images/11253486_1004161722939969_1182605952_n.gif') no-repeat;
  background-attachment: fixed;
  // background-color: #9cee21;
  background-size: cover;
  position: absolute;
  opacity: 0.9;
  z-index: -1;
}

.about, .work, .contact, .projects {
  background: transparent;
  color: $primary-color !important;
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
} 
.headine-2 {
  color: $primary-color;
}
.content{
  // use later
}
.highlight{
  background-color: $background-color;
  padding: 4px auto;
  margin-top: 1em;
  margin-right: 8px;
  line-height: 1.8;
}
.paragraph {
  text-align: center;
  vertical-align: middle;
  background: transparentize($color: $background-color, $amount: 1);
  margin-top: 1em;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
}
.btn-outline{
  margin-right: 10%;
  border-radius: 5px;
  border: 2px solid $background-color;
  background: transparent;
  color: $text-color;
}
.icons {
  line-height: 1.8;
  border-radius: 10px;
  background: transparentize($color: $background-color, $amount: 1);
  margin-top: 1em;
  padding: 20px 20px 20px 20px;
  width: 100%;
  font-size: 0.4em;
  font-weight: 500;
  
}
.copyright{
  display: row;
  width: 100%;

}

.footer{
  background: $background-color !important;
  color: $text-color;
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 100vw;
  display: flex;
  z-index: 2;
  bottom: 0;
}